*~
build/
*.conf
cbbuild
codebuild
config/
*build/
*.save
*.orig
*.cpp~
*.xml~
*.lms~
*.h~
*.txt~
*.gitignore~
*.md~
.metadata
*.autosave
CMakeLists.txt.user
doku/html
lms/external/libraries/*
!lms/external/libraries/CMakeLists.txt
lms/external/modules/*
!lms/external/modules/CMakeLists.txt
