*~
build/
build-clang
*.conf
cbbuild
codebuild
config/
*build/
*.save
*.orig
*.cpp~
*.xml~
*.lms~
*.h~
*.txt~
*.gitignore~
*.md~
.metadata
*.autosave
CMakeLists.txt.user
doku/html
include/lms/definitions.h
